{% load static %}
<div id="kt_app_header" class="app-header  d-flex flex-column flex-stack ">
	
	<!--begin::Header main-->
	<div class="d-flex flex-stack flex-grow-1">
		
		<div class="app-header-logo d-flex align-items-center ps-lg-12" id="kt_app_header_logo">  
			<!--begin::Sidebar toggle-->
			<div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-sm btn-icon bg-body btn-color-gray-500 btn-active-color-primary w-30px h-30px ms-n2 me-4 d-none d-lg-flex" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
				
				<i class="ki-outline ki-abstract-14 fs-3 mt-1"></i>        </div>
				<!--end::Sidebar toggle-->
				
				<!--begin::Sidebar mobile toggle-->
				<div class="btn btn-icon btn-active-color-primary w-35px h-35px ms-3 me-2 d-flex d-lg-none" id="kt_app_sidebar_mobile_toggle">
					<i class="ki-outline ki-abstract-14 fs-2"></i>	</div>
					<!--end::Sidebar mobile toggle-->
					
					<!--begin::Logo-->
					<a href="{% url 'dashboard:dashboard' %}" class="app-sidebar-logo">
						<img alt="Logo" src="{% static 'assets/logo/selfcare_logo.png' %}" class="h-35px theme-light-show">
						<img alt="Logo" src="{% static 'assets/logo/selfcare_logo.png' %}" class="h-35px theme-dark-show">
					</a>
					<!--end::Logo-->    
				</div>
				
				<!--begin::Navbar-->
				<div class="app-navbar flex-grow-1 justify-content-end" id="kt_app_header_navbar">  
					<div class="app-navbar-item d-flex align-items-stretch flex-lg-grow-1">
						
				</div>        
					
					
					{% comment %} <!--begin::Chat-->
					<div class="app-navbar-item ms-2 ms-lg-6">
						<!--begin::Menu wrapper-->
						<div class="btn btn-icon btn-custom btn-color-gray-600 btn-active-color-primary w-35px h-35px w-md-40px h-md-40px position-relative" id="kt_drawer_chat_toggle">
							<i class="ki-outline ki-notification-on fs-1"></i>            
							<span class="position-absolute top-0 start-100 translate-middle  badge badge-circle badge-danger w-15px h-15px ms-n4 mt-3">5</span>             
						</div>
						<!--end::Menu wrapper-->
					</div>
					<!--end::Chat--> {% endcomment %}

					{% if perms.base.view_notification %}
					<div class="app-navbar-item ms-2 ms-lg-6">
						<div class="btn btn-icon btn-custom btn-color-gray-600 btn-active-color-primary w-35px h-35px w-md-40px h-md-40px position-relative" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
							<i class="ki-outline ki-notification-on fs-1"></i>
							{% with nb_unread_notifications=user.unread_notifications_count %}
							{% if nb_unread_notifications %}
							<span class="position-absolute top-0 start-100 translate-middle  badge badge-circle badge-danger w-15px h-15px ms-n4 mt-3">{{ user.unread_notifications_count }}</span>   
							{% endif %}
							{% endwith %} 
						</div>
					
						<div class="menu menu-sub menu-sub-dropdown menu-column w-350px w-lg-375px" data-kt-menu="true" id="kt_menu_notifications">
							<div class="d-flex flex-column bgi-no-repeat rounded-top bg-primary" style="background-image:url('/metronic8/demo39/assets/media/misc/menu-header-bg.jpg')">
								<h3 class="text-white fw-semibold px-9 mt-6 mb-6">
									Notifications 
									{% comment %} <span class="fs-8 opacity-75 ps-3">24 reports</span> {% endcomment %}
								</h3>
							</div>
					
							<div class="scroll-y mh-325px my-5 px-2">
								{% for notification in user.get_last_notificaitons %}
								<a class="d-flex flex-stack py-4 bg-hover-light-primary px-6"
									href="{% url 'base:notification_link' notification.pk %}"
									
									>
									<div class="d-flex align-items-center">
										{% comment %} <div class="symbol symbol-35px me-4">
											<span class="symbol-label bg-light-primary">
												<i class="ki-outline ki-abstract-28 fs-2 text-primary"></i>
											</span>
										</div> {% endcomment %}
										<div class="mb-0 me-2">
											<span class="fs-6  text-hover-primary 
											{% if not notification.read_at %}fw-bolder text-gray-700{% else %} text-gray-600 fw-bold{% endif %}">
												{{ notification.title }}
											</span>
											<div class="text-gray-500 fs-7 {% if not notification.read_at %}fw-bolder text-gray-700 {% endif %} ">
												{{ notification.message }}
											</div>
										</div>
									</div>
									<span class="badge {% if notification.read_at %}badge-light{% else %}badge-primary fw-bolder{% endif %}
									fs-8">{{ notification.short_timesince }}</span>
								</a>
								{% empty %}
								<div class="d-flex flex-stack py-4 px-6 text-center">
									<span class="fs-6 fw-bolder text-muted text-center">
										Aucune notification
									</span>
								</div>
								{% endfor %}
							</div>
					
							<a class="py-3 text-center border-top bg-hover-light" href="{% url "base:my_notifications" %}">
								<span  class="btn btn-color-gray-600 btn-active-color-primary">
									Tout voir
									<i class="ki-outline ki-arrow-right fs-5"></i>
								</span>
							</a>
						</div>
					</div>
					{% endif %}
					


					
					<!--begin::User menu-->
					<div class="app-navbar-item ms-1 ms-md-4 me-2 me-md-8" id="kt_header_user_menu_toggle">
						<!--begin::Menu wrapper-->
						<div class="cursor-pointer symbol symbol-35px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
							<img src="{% static 'assets/img/blank_avatar.png' %}" class="rounded-3" alt="user" />
						</div>
						<!--begin::User account menu-->
						<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
							<!--begin::Menu item-->
							<div class="menu-item px-3">
								<div class="menu-content d-flex align-items-center px-5">
									<!--begin::Avatar-->
									{% comment %} <div class="symbol symbol-50px me-5">
										<img alt="Logo" src="{% static 'assets/media/avatars/blank.png' %}" />
									</div> {% endcomment %}
									<!--end::Avatar-->
									<!--begin::Username-->
									<div class="d-flex flex-column">
										<div class="fw-bold d-flex align-items-center fs-5">{{user.get_full_name}}
										</div>
										<a href="#" class="fw-semibold text-muted text-hover-primary fs-7">{{user.email}}</a>
									</div>
									<!--end::Username-->
								</div>
							</div>
							<!--end::Menu item-->
							<div class="separator my-2"></div>
							<!--begin::Menu item-->
							{% if user.is_staff %}
							<div class="menu-item px-5">
								<a href="/admin/" class="menu-link px-5">Accès Admin</a>
							</div>
							<!--begin::Menu separator-->
							<div class="separator my-2"></div>
							<!--end::Menu separator-->
							{% endif%}

							<!--begin::Menu separator-->
							<div class="menu-item px-5">
								<a href="{% url 'base:user_parameters' %}" class="menu-link px-5">Mon compte</a>
							</div>
							<!--end::Menu separator-->

							<!--begin::Menu item-->
							<div class="menu-item px-5 my-1">
								<a href="{% url 'base:change_password' %}" class="menu-link px-5">Sécurité et connexion</a>
							</div>
							<!--end::Menu item-->
							
							<!--begin::Menu item-->
							<div class="menu-item px-5">
								<a href="{% url 'base:logout' %}" class="menu-link px-5">Se déconnecter</a>
							</div>
							<!--end::Menu item-->
						</div>
						<!--end::User account menu-->
						<!--end::Menu wrapper-->
					</div>

					<!--end::User menu-->
					
				</div>
				<!--end::Navbar-->
			</div>
			<!--end::Header main-->
						
		</div>