

	<div id="kt_app_footer" class="app-footer">
					<!--begin::Footer container-->
					<div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
						<!--begin::Copyright-->
						<div class="text-gray-900 order-2 order-md-1">
							<span class="text-muted fw-semibold me-">&copy; {% now "Y" %}</span>
							<a href="" target="_blank" class="text-muted fw-semibold  text-hover-primary"></a>
						</div>
						<!--end::Copyright-->
						{% if not user.is_internal %}
						<!--begin::Menu-->
						<ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">

							{% if activate_faq %}
							<li class="menu-item">
								<a href="{% url 'faq:faq' %}" class="menu-link px-2">Support</a>
							</li>
							{% endif %}
							{% if perms.helpdesk.add_ticket %}
							<li class="menu-item">
								<a href="" class="menu-link px-2">Nous contacter</a>
							</li>
							{% endif %}
							{% for doc_category in user.get_actif_legal_documents %}
							<li class="menu-item">
								<a href="{% url 'cgu:legal_document_category_detail' doc_category.slug %}" class="menu-link px-2">{{ doc_category.name }}</a>
							</li>
							{% endfor %}
						</ul>
						<!--end::Menu-->
						{% endif %}
					</div>
					<!--end::Footer container-->
	</div>	